@model List<Item>
@{
    ViewData["Title"] = "Gallery";
    Layout = null;
}
    <html>
    <head>
        <link href="~/css/styles.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav>
            <ul id="nav">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Gallery" asp-action="Gallery">Gallery</a></li>
                <li><a asp-controller="Home" asp-action="Shop">Shop</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
            </ul>
        </nav>
        <div class="main" id="galleryMain">

            <form asp-controller="Gallery" asp-action="Searched">
                <input type="text" placeholder="Example 1" name="searchString" />
                <input type="submit" value="Search" />
            </form>

            <br />
            <h2>Gallery</h2>
            <br />
            @foreach(Item i in Model)
            {
            <div class="galleryItem">
                <p>@i.Title</p><br />
                <p>@i.Description</p><br />
                <p><img src="@i.Image" /></p>
            </div>
            }
        </div>
    </body>
    </html>