body {
    margin: 30px;
    background-color: darkolivegreen;
}
#nav {
    padding-left: 0;
    padding: 10px 25px 10px 25px;
    text-align: justify;
    min-width: 500px;
    margin: 20px;
    background-color: #F4FF5E;
    line-height: 30px;
}
    #nav:after {
        content: '';
        display: inline-block;
        width: 100%;
    }

    #nav li {
        display: inline-block;
        text-align: center;
        font-size: 20px;
        text-decoration-line: none;
        text-decoration: none;
    }
.main {
    background-color: lightgrey;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}
#hero {
    width: 100%;
}
#blurb {
    padding:10px 10px 10px 10px;
    text-align: center;
}
#galleryMain {
    text-align: center;
}
.galleryItem {
    display: inline-block;
}
#searchedMain {
    text-align: center;
}